.productos__table {
  display: inline-block;
  margin: 5% 0% 5% 25%;
  color: blue;
  border-style: dotted;
}

.productos__table th {
  font-weight: 700;
  font-size: 1.3vw;
  background-color: rgba(128, 128, 128, 0.466);
  backdrop-filter: blur(10px);
  padding: 8px;
}

.productos__table td {
  background-color: rgba(128, 128, 128, 0.514);
  backdrop-filter: blur(10px);
}

.car-productos {
  width: 75vw;
  height: 350px;
  position: relative;
  margin: auto;
}

.img__car {
  height: 350px;
  width: 100%;
}

.img__car:hover {
  filter: opacity(0.8);
}

.bg_text {
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 7px;
}

.slidein2 {
  animation-duration: 3s;
  animation-name: slidein2;
  animation-delay: 1s;
}

@keyframes slidein2 {
  from {
    margin-right: 10%;
  }
  to {
    margin-right: 0%;
  }
}
.slidein {
  animation-duration: 5s;
  animation-name: slidein;
  animation-delay: 1s;
}

@keyframes slidein {
  from {
    margin-left: 10%;
  }
  to {
    margin-left: 0%;
  }
}
.img__tarjeta:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.index__tarjeta {
  overflow: hidden;
}

.nosotros__main {
  background-image: url(../imgs/artesano2.jpg);
  height: 80%;
  padding: 20% 12% 20% 12%;
  background-size: cover;
  position: relative;
  margin-top: -0.005%;
}
.nosotros__main h2 {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  position: absolute;
  width: 80%;
  top: 20%;
  font-size: 1.2rem;
}

.faq__section__table {
  display: flex;
  color: #4a00e0;
  background-image: url(../imgs/faq_new.jpg);
  background-size: cover;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.faq__section__table h1 {
  text-align: center;
  background: linear-gradient(to right, rgba(121, 242, 29, 0.95), rgba(255, 0, 0, 0.247));
  backdrop-filter: blur(10%);
  width: 100%;
}

.faq__section__table--td {
  padding-left: 5%;
  width: 400px;
  padding-bottom: 5%;
  background-color: rgba(245, 247, 243, 0.753);
  backdrop-filter: blur(10%);
}

.faq__section__table--th {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 1.3em;
  background-color: rgba(0, 255, 255, 0.568);
  backdrop-filter: blur(10%);
  text-align: center;
}

.main__contacto {
  background-position: center;
  background-image: url(../imgs/landing_artes.jpg);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  background-size: cover;
}

.main__form {
  margin: 5% 0% 5% 0%;
  width: 40%;
  color: #4a00e0;
  z-index: 1;
}

#name {
  width: 80%;
}

#email {
  width: 80%;
}

#rol {
  width: 100%;
  text-align: center;
}

#estado {
  width: 80%;
}

#comentarios {
  width: 100%;
}

.cont_back {
  background: linear-gradient(to left, rgba(121, 242, 29, 0.6), rgba(121, 242, 29, 0.95));
}

.form {
  color: #4a00e0;
  border-radius: 6px;
  background: linear-gradient(to left, rgba(121, 242, 29, 0.6), rgba(121, 242, 29, 0.95));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
* header {
  background: linear-gradient(to left, rgba(121, 242, 29, 0.6), rgba(121, 242, 29, 0.95));
  box-shadow: 5px 8px 9px rgba(0, 36, 179, 0.7);
}
* footer {
  background: linear-gradient(to right, rgba(20, 42, 166, 0.7), rgba(20, 42, 166, 0.4));
}

.price {
  color: rgba(121, 242, 29, 0.95);
}

/*# sourceMappingURL=style.css.map */
