.main__contacto {
  background-position: center;
  background-image: url(../imgs/landing_artes.jpg);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  background-size: cover;
  flex-wrap: wrap;
}
.main__form {
  color: #4a00e0;
  z-index: 1;
  display: flex;
  justify-content: center;
}
#name {
  width: 70%;
  margin: 0% 15% 0% 15%;
}

#email {
  width: 70%;
  margin: 0% 15% 0% 15%;
}
#rol {
  text-align: center;
  margin: 0% 25% 0% 25%;
}
#estado {
  width: 70%;
  margin: 0% 15% 0% 15%;
}
#comentarios {
  width: 70%;
  margin: 0% 15% 0% 15%;
}
.cont_back {
  background: $cont-back;
}
.form {
  color: $light;
  border-radius: 6px;
  background: $primary;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1px 3px 1px 3px;
}
.check {
  transform: scale(2);
}
