.main__contacto {
  background-position: center;
  background-image: url(../imgs/landing_artes.jpg);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  background-size: cover;
}
.main__form {
  margin: 5% 0% 5% 0%;
  width: 40%;
  color: #4a00e0;
  z-index: 1;
}
#name {
  width: 80%;
}

#email {
  width: 80%;
}
#rol {
  width: 100%;
  text-align: center;
}
#estado {
  width: 80%;
}
#comentarios {
  width: 100%;
}
.cont_back {
  background: $cont-back;
}
.form {
  color: #4a00e0;
  border-radius: 6px;
  background: $cont-back;
}
