* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;

  header {
    background: $headerback;
    box-shadow: 5px 8px 9px rgb(0, 36, 179, 0.7);
  }
  .logo {
    background-image: url(/imgs/logotev_horizontal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  footer {
    background: $footergradient;
  }
}
.price {
  color: $price1;
}
