.nosotros__main {
  background-image: url(imgs/artesano2.jpg);
  height: 80%;
  padding: 20% 12% 20% 12%;
  background-size: cover;
  position: relative;
  margin-top: -0.005%;
}
.nosotros__main__h2 {
  background-color: rgba(255, 255, 255, 0.548);
  display: inline-block;
  position: absolute;
  width: 80%;
  top: 20%;
}
