.productos__table {
  display: inline-block;
  margin: 5% 0% 5% 25%;
  color: blue;
  border-style: dotted;
}
.productos__table th {
  font-weight: 700;
  font-size: 1.3vw;
  background-color: rgba(128, 128, 128, 0.466);
  backdrop-filter: blur(10px);
  padding: 8px;
}
.productos__table td {
  background-color: rgba(128, 128, 128, 0.514);
  backdrop-filter: blur(10px);
}
.car-productos {
  width: 75vw;
  height: 350px;
  position: relative;
  margin: auto;
}
.img__car {
  height: 350px;
  width: 100%;
}
.img__car:hover {
  filter: opacity(0.8);
}
