* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
body {
  min-height: 100vh;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(
    to left,
    rgb(121, 242, 29, 0.6),
    rgb(121, 242, 29, 0.95)
  );
  box-shadow: 5px 8px 9px rgb(0, 36, 179, 0.7);
  width: 100%;
  align-items: center;
  position: sticky;
  z-index: 1;
}
.div__logo {
  margin-top: 0.5%;
  margin-bottom: 0.5;
  display: flex;
  align-items: center;
}
.header__div--buscar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

input {
  color: rgb(209, 44, 44);
  background-color: rgba(255, 255, 255, 0.577);
  border-radius: 5px;
  border: none;
}
.header__input--buscar {
  cursor: pointer;
  width: 30%;
  height: 20px;
}
.header__input--text {
  width: 40%;
  height: 20px;
}

header a img {
  width: 27vw;
  transition: hover 3s;
}
header img:hover {
  width: 28vw;
}

/*NAV*********************************************************************************************************************/

nav {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

li a:hover {
  color: rgba(5, 40, 242, 0.95);
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
}
.nav__li li {
  display: inline-block;
  font-size: 1rem;
}
.nav__a a {
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.158);
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
/*MAIN index***************************************************************************************************************/

em {
  color: blue;
}

h2 {
  color: blue;
  text-align: center;
}

.main__ul--cualidades {
  list-style-type: none;
  font-style: none;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
}
.main__h2--cualidades {
  margin-bottom: 1vh;
  width: 100%;
  font-size: 1.2rem;
}
.main__index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 130vh;
  background: linear-gradient(to left, white, rgba(128, 128, 128, 0.075));
}
.main__section {
  margin-top: 1.05%;
  display: flex;
  width: 95vw;
  height: 25%;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  background-position: center;
  background-image: url(imgs/landing_artes.jpg);
}
.div__section2 {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  height: 20%;
}
.main__section2 {
  margin-top: 1%;
  display: flex;
  width: 95vw;
  height: 15%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: 5px 5px 5px 1px gray;
}

.main_p {
  margin-top: 2%;
  font-size: 1.7rem;
  color: white;
  text-align: center;
  width: 50%;

  backdrop-filter: blur(9px);
  background-color: rgba(8, 0, 0, 0.315);
  border-radius: 7px;
}
.main__img--artesania {
  max-width: 23vw;
  min-width: 300px;
  border-radius: 10%;
  transform: scale(1.01, 1.01);
}

.main__img--cualidades {
  height: 15vh;
  border-radius: 4%;
}
.slidein2 {
  animation-duration: 3s;
  animation-name: slidein2;
  animation-delay: 1s;
}

@keyframes slidein2 {
  from {
    margin-right: 10%;
  }

  to {
    margin-right: 0%;
  }
}
.slidein {
  animation-duration: 5s;
  animation-name: slidein;
  animation-delay: 1s;
}

@keyframes slidein {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 0%;
  }
}
.index__productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.index__tarjeta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 2%;
  width: 18%;
  box-shadow: 5px 5px 5px gray;
  height: 30vh;
}
.img__tarjeta {
  margin-top: 7%;
  max-height: 70%;
  max-width: 98%;
}
/*MAIN CONTACTO********************************************************************************************************************/

.main__contacto {
  background-position: center;
  background-image: url(imgs/landing_artes.jpg);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 86vh;
  background-size: cover;
}
.main__form {
  margin: 10% 0% 10% 0%;
  width: 40%;
  display: block;
  color: #4a00e0;
  z-index: 1;
}
#name {
  width: 80%;
}

#email {
  width: 90%;
}
#rol {
  width: 100%;
  text-align: center;
}
#estado {
  width: 80%;
}
#comentarios {
  width: 100%;
}
.circulo {
  position: absolute;
  transform: scale(1.1, 0.8);
  left: 23%;
  top: -1%;
  opacity: 80%;
  z-index: 0;
}
/*MAIN PRODUCTOS********************************************************************************************************************/
.productos__table {
  position: absolute;
  display: inline-block;
  margin: 5% 0% 5% 25%;
  color: blue;
  border-style: dotted;
}
.productos__table th {
  font-weight: 700;
  font-size: 1.3vw;
  background-color: rgba(128, 128, 128, 0.466);
  backdrop-filter: blur(10px);
  padding: 8px;
}
.productos__table td {
  background-color: rgba(128, 128, 128, 0.514);
  backdrop-filter: blur(10px);
}

.section__img {
  overflow: hidden;
  max-height: 30vh;
  max-width: 50vw;
}
.galeria {
  display: grid;
  grid-template-areas:
    "img1 img2 img3"
    "img1 img4 img3"
    "img7 img5 img6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 0.2%;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}
.img1 {
  grid-area: img1;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 1.jpg);
  background-size: cover;
  background-position: center;
}
.img2 {
  grid-area: img2;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 2.jpg);
  background-size: cover;
  background-position: center;
}
.img3 {
  grid-area: img3;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 3.jpg);
  background-size: cover;
  background-position: center;
}
.img4 {
  grid-area: img4;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 4.jpg);
  background-size: cover;
  background-position: center;
}
.img5 {
  grid-area: img5;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 5.jpg);
  background-size: cover;
  background-position: center;
}
.img6 {
  grid-area: img6;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 6.jpg);
  background-size: cover;
  background-position: center;
}
.img7 {
  grid-area: img7;
  height: 100%;
  width: 100%;
  background-image: url(imgs/productos\ 7.jpg);
  background-size: cover;
  background-position: center;
}
/*MAIN FAQ********************************************************************************************************************/

.faq__section__table {
  display: inline-block;
  padding: 5% 25% 12% 25%;
  color: #4a00e0;
  border-style: dotted;
  background-image: url(imgs/FAQ.jpg);
  background-size: cover;
}
.faq__section__table h1 {
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 217, 0, 0.918),
    rgba(255, 0, 0, 0.247)) ;
    backdrop-filter: blur(10%) ;
  );
}
.faq__section__table--td {
  padding-left: 5%;
  width: 400px;
  padding-bottom: 5%;
  background-color: rgba(245, 247, 243, 0.753);
  backdrop-filter: blur(10%);
}
.faq__section__table--th {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 1.3em;
  background-color: rgba(0, 255, 255, 0.568);
  backdrop-filter: blur(10%);
}

/*MAIN NOSOTROS********************************************************************************************************************/
.nosotros__main {
  background-image: url(imgs/artesano2.jpg);
  height: 80%;
  padding: 20% 12% 20% 12%;
  background-size: cover;
  position: relative;
  margin-top: -0.005%;
}
.nosotros__main__h2 {
  background-color: rgba(255, 255, 255, 0.548);
  display: inline-block;
  position: absolute;
  width: 80%;
  top: 20%;
}
/*FOOTER**************************************************************************************************************************/
footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-around;
  color: white;
  background: linear-gradient(
    to right,
    rgb(20, 42, 166, 0.7),
    rgb(20, 42, 166, 0.4)
  );
  font-size: 1.2em;
  box-shadow: 10px -10px 5px gray;
  z-index: 1;
  top: 0;
  width: 100%;
}
.div__ubicacion {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
footer a {
  text-decoration: none;
  color: rgb(121, 242, 29);
  font-size: 2em;
}
footer a:hover {
  font-size: 2.2em;
}
footer p {
  width: 90%;
  padding-left: 14%;
}

.footer__em {
  align-self: center;
  color: aqua;
  font-weight: bold;
  padding-bottom: 2%;
}
.footer__ul {
  margin-left: 19%;
  display: inline-block;
  width: 80%;
  list-style-type: none;
}

.footer__iframe--map {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}
