* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
body {
  min-height: 100vh;
}

header {
  display: inline-block;
  background-color: rgb(172, 255, 47);
  position: sticky;
  z-index: 1;
  box-shadow: 5px 8px 9px gold;
  width: 100vw;
  height: 7vh;
}

.header__div--buscar {
  display: inline-block;
  margin-left: 10%;
  position: absolute;
  top: 40%;
}

input {
  display: inline-block;
  color: rgb(209, 44, 44);
  background-color: rgba(255, 255, 255, 0.577);
  transition: background-color is linear;
  border-radius: 5px;
  border: none;
  width: 10vw;
}
.header__input--buscar {
  cursor: pointer;
  width: 5vw;
}
header img {
  width: 50vw;

  display: inline-block;
  position: absolute;
  top: 10%;
  transition: all 3s;
}
header img:hover {
  width: 22vw;
}
.header__img--logo {
  display: inline-block;
  width: 20vw;
  margin-left: 1.5%;
}
/*NAV*********************************************************************************************************************/

nav {
  display: inline-block;
  padding-bottom: 1%;
  padding-left: 5%;
  width: 40vw;
  height: 100%;
}

li a:hover {
  color: rgba(255, 0, 0, 0.822);
}
nav ul {
  list-style-type: none;
  position: absolute;
  top: 35%;
  left: 8%;
}
.nav__li li {
  display: inline-block;
  font-size: 1.1vw;
}
.nav__a a {
  margin: 0;
  color: rgba(78, 103, 241);
  background-color: rgba(255, 255, 255, 0.303);
  text-align: center;
  padding: 5px;
  padding-right: 10px;
  font-weight: bold;
  transition: background-color is linear;
  text-decoration: none;
}
/*MAIN index***************************************************************************************************************/
main {
  width: 100%;
  background-color: white;
  margin-top: 1%;
}
em {
  color: blue;
}

h2 {
  color: blue;
  text-align: center;
}

.main__ul--cualidades {
  list-style-type: none;
  font-style: none;
  font-size: 1.8rem;
  text-align: center;
  width: 50vw;
}
.main__h2--cualidades {
  margin-bottom: 1vh;
  width: 100%;
  font-size: 2rem;
}
.main__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.main_p {
  font-size: 1.6vw;
  text-align: center;
  width: 40vw;
  height: auto;
}
.main__img--artesania {
  max-width: 40vw;
  border-radius: 10%;
  transform: scale(1.1, 1);
}

.main__img--cualidades {
  height: 45vh;
  border-radius: 4%;
}
.slidein2 {
  animation-duration: 3s;
  animation-name: slidein2;
  animation-delay: 1s;
}

@keyframes slidein2 {
  from {
    margin-right: 15%;
  }

  to {
    margin-right: 0%;
  }
}
.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-delay: 4s;
}

@keyframes slidein {
  from {
    margin-left: 20%;
  }

  to {
    margin-left: 0%;
  }
}

/*MAIN CONTACTO********************************************************************************************************************/
.main__form {
  width: 30%;
  display: block;
  margin: 5% 0% 15% 30%;
  color: #4a00e0;
}
#name {
  width: 80%;
}

#email {
  width: 80%;
}
#rol {
  width: 100%;
  text-align: center;
}
#estado {
  width: 80%;
}
#comentarios {
  width: 100%;
}
/*MAIN PRODUCTOS********************************************************************************************************************/
.productos__table {
  display: inline-block;
  margin: 5% 0% 5% 25%;
  color: #4a00e0;
  border-style: dotted;
}
.productos__table th {
  font-weight: 700;
  font-size: 1.3vw;
  background-color: aqua;
  padding: 8px;
}

.section__img {
  width: 100%;
}
.galeria {
  background-color: rgba(255, 0, 0, 0.582);
  display: grid;
  margin: 0% 15% 0% 15%;
  grid-template-areas:
    "img1 img2 img3"
    "img1 img4 img5"
    "img6 img6 img7";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 1%;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
/*MAIN FAQ********************************************************************************************************************/

.faq__section__table {
  display: inline-block;
  padding: 5% 25% 12% 25%;
  color: #4a00e0;
  border-style: dotted;
  background-image: url(IMGS/FAQ.jpg);
  background-size: cover;
}
.faq__section__table h1 {
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 217, 0, 0.918),
    rgba(255, 0, 0, 0.247)
  );
}
.faq__section__table--td {
  padding-left: 5%;
  width: 400px;
  padding-bottom: 5%;
  background-color: rgba(245, 247, 243, 0.753);
}
.faq__section__table--th {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 1.3em;
  background-color: rgba(0, 255, 255, 0.568);
}

/*MAIN NOSOTROS********************************************************************************************************************/
.nosotros__main {
  background-image: url(imgs/artesano2.jpg);
  height: 80%;
  padding: 20% 12% 20% 12%;
  background-size: cover;
  position: relative;
  margin-top: -3%;
}
.nosotros__main__h2 {
  background-color: rgba(255, 255, 255, 0.548);
  display: inline-block;
  position: absolute;
  width: 80%;
  top: 20%;
}
/*FOOTER**************************************************************************************************************************/
footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}
footer {
  display: inline-block;
  color: white;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  font-size: 1.2em;

  box-shadow: 10px -10px 5px gray;
  z-index: 1;
  top: 0;
  width: 100%;
}
footer a {
  display: inline-block;
  text-decoration: none;
  color: rgb(172, 255, 47);
  font-size: 2em;
  margin-left: 8%;
}

footer p {
  width: 95vw;
  padding-left: 19%;
}

.footer__em {
  position: relative;
  align-self: center;
  color: aqua;
  font-weight: bold;
  padding-bottom: 2%;
}
.footer__ul {
  margin-left: 8%;
  display: inline-block;
  width: 14%;
  list-style-type: none;
}

.footer__iframe--map {
  display: inline-block;
  margin-left: 12%;
  margin-top: 1%;
}
